<div>
    <div class="panel panel-default">
        <div class="panel-heading">{{'PARAM.TITULO'|i18n}}</div>        
        <div class="panel-body">
            <md-content layout-padding ng-cloak>
                <h5>{{paramCtrl.mensagem}}</h5>
                <div layout-gt-xs="">
                    <div flex-gt-xs>
                        <label style="margin-left: 5px; font-size: 12px">{{'APP.DATA_INICIAL'|i18n}}: </label>
                        <md-datepicker ng-model="paramCtrl.minDate" ng-model-options="{updateOn: 'default'}" ng-change="paramCtrl.dateChanged()" ng-disabled="paramCtrl.isDisable"
                                       md-min-date="paramCtrl.calendarMinDate" md-max-date="paramCtrl.calendarMaxDate">                                           
                        </md-datepicker> 
                        <label style="margin-left: 25px; font-size: 12px">{{'APP.DATA_FINAL'|i18n}}: </label>
                        <md-datepicker ng-model="paramCtrl.maxDate" ng-model-options="{updateOn: 'default'}" ng-change="paramCtrl.dateChanged()" ng-disabled="paramCtrl.isDisable"
                                       md-min-date="paramCtrl.calendarMinDate" md-max-date="paramCtrl.calendarMaxDate">                                           
                        </md-datepicker>   
                        <span ng-show=paramCtrl.carregando><img src="resources/images/loading.gif" class="loading-icon"/>{{'APP.CARREGANDO'|i18n}}</span>                           
                    </div>
                </div>
            </md-content>           
            <high-chart options="paramCtrl.parametersOptions"/>
            <span style="text-align: center; font-size:14px; color: #4f4f4f; font-weight: bold; display: block;">{{'APP.DADOS_EMBRACE'|i18n}}</span>
            <span style="text-align: center; font-size:13px; color: #003399; display: block;">{{'PARAM.BOTTOM_MSG'|i18n}}</span>
        </div>
    </div>

</div>